<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="testAsmx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <testAsmx.Properties.Settings>
            <setting name="testAsmx_com_trisourcesolutions_legacy_TSS_Load"
                serializeAs="String">
                <value>https://legacy.trisourcesolutions.com/TSS_Load/TSS_Load.asmx</value>
            </setting>
        </testAsmx.Properties.Settings>
    </applicationSettings>
</configuration>